PORT=8081
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/appointment
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
CORS_ALLOWED_ORIGINS=http://localhost:4200
JWT_SECRET=VGhpcy1kZWZhdWx0LXNlY3JldC1tdXN0LWJlLXN1YnN0aXR1dGVkLWF0LXByb2R1Y3Rpb24=
JWT_EXPIRATION=PT2H
